<section class="benefits">
  <div class="container benefits-background">
    <div class="benefits-section">
      <div class="benefits-img-section">
        <div class="benefits-img-border"></div>
        <div class="benefits-img-backgrond"></div>
        <div class="benefits-img-gradient"></div>
        <div class="benefits-img-aple">
          <img src="./img/aple.png" alt="Food" width="396" height="502" />
        </div>
      </div>
      <div class="benefits-text-section">
        <h2 class="benefits-title">What’s Special About Our Offerings</h2>
        <p class="benefits-text">
          With our platform, you can browse through a diverse selection of
          cuisines and local restaurants, and choose from a variety of dishes
          that cater to your specific taste buds.
        </p>
        <div class="subtitle-section">
          <div class="left-subtitle-section">
            <img src="./img/rocket-launch.jpg" alt="Food" width="48" />
            <h3 class="benefits-subtitle">Fasest Delivery</h3>
            <p class="benefits-subtext">
              Our advanced logistics system and dedicated delivery partners
              ensure that your meals are delivered to you within 30-minutes.
            </p>
          </div>

          <div class="right-subtitle-section">
            <img src="./img/touch.jpg" alt="Food" width="48" />
            <h3 class="benefits-subtitle">Easy To Order</h3>
            <p class="benefits-subtext">
              You can browse through a wide variety of cuisines and restaurants,
              select your favorite meals, and place your order in just a few
              clicks.
            </p>
          </div>
        </div>
        <div class="button-block">
          <button type="button" class="benefits-btn">Order Service</button>
          <button type="button" class="benefits-btn-second">
            Read More
            <svg
              width="15"
              height="14"
              viewBox="0 0 15 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.59478 6.87253C9.74906 7.02681 9.74906 7.2769 9.59478 7.43118L5.56715 11.4588C5.41287 11.6131 5.16278 11.6131 5.0085 11.4588L4.82225 11.2726C4.66797 11.1183 4.66797 10.8682 4.82225 10.7139L8.38431 7.15186L4.82225 3.5898C4.66797 3.43552 4.66797 3.18543 4.82225 3.03115L5.0085 2.8449C5.16278 2.69062 5.41287 2.69062 5.56715 2.8449L9.59478 6.87253Z"
                fill="black"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
