<section class="enjoy-food">
	<div class="container enjoy-food-inner">
		<div class="enjoy-food-left">
			<h1 class="enjoy-food__title">Enjoy Your Favorite Food From Anywhere</h1>
			<p class="enjoy-food__text">
				With just a few clicks, you can have your favorite meals delivered
				straight to your doorstep, no matter where you are. Order now and enjoy a
				hassle-free and delicious meal from the comfort of your own home.
			</p>
			<button class="button-order-enjoy" type="button" id="open-modal2">
				Order Now
			</button>
		</div>
		<div class="enjoy-food-right">
			<img
				class="enjoy-food__img"
				src="../images/main-picture.png"
				alt="Enjoy Your Favorite Food From Anywhere"
			/>
		</div>
	</div>
</section>
